{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block container %}

<div class="d-flex flex-grow-1">
    {% include "manager_dashboard/sidebar/left.html" %}
    <div id="content" class="d-flex flex-column flex-grow-1 justify-content-start">
        <div class="container-fluid">
            <h1 class="display-5 text-center">Members</h1>
            <div class="panel panel-default container">
                <table class="table table-hover rounded">
                    <thead class='table-light'>
                        <tr>
                            <th scope="col" colspan="2" class='ml-4'> Name </th>
                            <th scope="col"> Title </th>
                            <th scope="col"> Phone Number </th>
                            <th scope="col"> Country </th>
                            <th scope="col"> Status </th>
                            <th scope="col"> Role </th>
                            <th scope="col"> Action </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">    
                        {% for user in object_list %}
                            <tr>
                                <td width="50"><img height="50" src="{{user.profile.profile_image.url}}" alt="" class="rounded-circle img-rounded mx-auto d-block"></td>
                                <td>
                                    <div>{{user.get_full_name|default_if_none:'N/A'}}</div>
                                    <div class='text-muted'>{{user.email}}</div>
                                </td>
                                <td>{{user.profile.job_role}}</td>
                                <td>{{user.profile.phone_number}}</td>
                                <td>{{user.profile.country.unicode_flag}} {{user.profile.country.name}}</td>
                                <td>
                                    {% if user.is_active %} <span class="badge rounded-pill alert-success text-success">Active</span>
                                    {% else %}              <span class="badge rounded-pill alert-dark text-secondary">Disabled</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.is_staff %} <span class="badge rounded-pill bg-warning text-dark"><i class="bi bi-patch-check-fill"> </i>Manager</span>
                                    {% else %}             <span class="badge rounded-pill alert-dark text-seconday">User</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown">
                                    
                                        <button class="btn btn-dark" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">{% if user.is_active %}Suspend User{% else %}Activate User{% endif %}</a></li>
                                            <li>
                                                {% include "manager_dashboard/actions/staff-role.html" %}
                                            </li>
                                            
                                            <li><hr class="dropdown-divider"></li>
                                            
                                            <li> {% include "manager_dashboard/actions/delete-user.html" %} </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>  


{% endblock container %}

