{% extends 'settings/account_card.html' %}
{% load crispy_forms_tags %}
{% block "account-form" %}
<h4 class='display-6 p-4 text-center'>Update Profile Pictures</h4>
<form method="POST" enctype="multipart/form-data" class='m-4 flex-shrink-0 text-center'>
  {% csrf_token %}
  <img 
    src="{{user.profile.profile_image.url}}" 
    alt="Profile Image"
    class="rounded-circle img-thumbnail" 
    style="width:200px;height:200px;object-fit:cover;"/>
  <fieldset class="form-group">
    <div class="row mt-2">
      <div class="form-group col-md-5">{{ form | crispy }}</div>
    </div>
  </fieldset>
  <button class="btn mt-4 btn-success container" type="submit">Update</button>
</form>
{% endblock "account-form" %}