{% extends 'settings/account_card.html' %}
{% load crispy_forms_tags %}
{% block "account-form" %}
<h4 class='display-5 p-4 text-center'>Update Password</h4>
<form method="POST" enctype="multipart/form-data" class='m-4 align-self-center'>
  {% csrf_token %}
  <fieldset class="form-group">
    <div class="row mt-2">
      <div class="form-group">{{ password_form | crispy }}</div>
    </div>
  </fieldset>
  <button class="btn mt-4 btn-success container" type="submit">Update</button>
</form>
{% endblock "account-form" %}
