{% extends 'settings/account_card.html' %}
{% load crispy_forms_tags %}
{% block "account-form" %}
<h4 class='display-6 ms-4 mt-4 text-center'>Basic Information</h4>
<form method="POST" enctype="multipart/form-data" class='m-4 align-self-center'>
  {% csrf_token %}
  <fieldset class="form-group">
    <div class="row mt-4">
      <div class="form-group col-md-6">{{ user_form.first_name | as_crispy_field }}</div>
      <div class="form-group col-md-6">{{ user_form.last_name  | as_crispy_field }}</div>
    </div>
    <div class="mt-2">{{ profile_form.gender | as_crispy_field }}</div>
    <div class="mt-2">{{ profile_form.job_role | as_crispy_field }}</div>
    <div class="mt-2">{{ profile_form.phone_number | as_crispy_field }}</div>
    <div class="mt-2">{{ profile_form.country | as_crispy_field }}</div>
    <div class="mt-2">{{ profile_form.address | as_crispy_field }}</div>
    <div class="row mt-2">
      <div class="form-group col-md-5">{{ profile_form.city | as_crispy_field }}</div>
      <div class="form-group col-md-4">{{ profile_form.state | as_crispy_field }}</div>
      <div class="form-group col-md-3">{{ profile_form.zip_code | as_crispy_field }}</div>
    </div>
  </fieldset>
  <button class="btn mt-4 btn-success container" type="submit">Save</button>
</form>
{% endblock "account-form" %}
