{% extends 'html/bootstrap_base.html' %}
{% load crispy_forms_tags %}
{% block container %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}  
      <img src="{{user.profile.profile_image.url}}" alt="Profile Image" class="rounded-circle" width="150" />
      <fieldset class="form-group">
        {{ user_form | crispy}}
        {{ profile_form | crispy}}
      </fieldset>
      <div class="text-center m-3">
        <button class="btn btn-success" type="submit">Update</button>
        <button class="btn btn-secondary" type="reset">Cancle</button>        
      </div>
    </form>
  </div>
</div>
{% endblock container %}
