{% extends 'html/bootstrap_base.html' %}
{% load crispy_forms_tags%}
{% block container %}
<div class="main-body">
  <div class="row gutters-sm">
    <div class="col-md-4 mb-3 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img src="{{object.profile.profile_image.url}}" alt="Profile Image" class="rounded-circle img-fluid text-center" width="150" />
            <div class="mt-3">
              <h4>{{object.full_name}}</h4>

              <p class="text-secondary mb-0">{{object.job_role}}</p>

              <p class="text-muted font-size-sm">{{object.profile.country.unicode_flag}} Bay Area, San Francisco, CA</p>
            </div>
          </div>
        </div>
        <!--CardBody ends here -->
      </div>
      <!--Card ends here -->
    </div>

    {% include 'html/widget/card/profile_view.html' %}

    <!--Left Sidebar-->
    <div class="col-md-8"></div>
    <!--Right Sidebar-->
  </div>
</div>
{% endblock container %}
