<!-- ProfileView Card -->
<div class="card">
    <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
            <img 
                src="{{user.profile.profile_image.url}}"
                alt="Profile Image" 
                class="rounded-circle img-thumbnail mx-auto" 
                style="width:200px;height:200px;object-fit:cover;"
                />
                
            <div class="mt-3">
                <h4>
                    {{user.get_full_name}}
                    {% if user.is_staff %}
                        <i class="bi bi-patch-check-fill text-warning"></i>
                    {% endif %}
                </h4>
                <p class="text-secondary mb-0">{{user.profile.job_role}}</p>
                
                <p class="text-muted font-size-sm"><i class="bi bi-geo-alt-fill"></i> Bay Area, San Francisco, CA {{user.profile.country.unicode_flag}}</p>
                
                {% if logged_in %}
                    <a class="btn btn-primary" href="{% url 'update-profile' %}"> 
                        <i class="bi bi-person-circle"></i>
                        Edit Profile
                    </a>
                    <a class="btn btn-success" href="{% url 'create-blog-post' %}">
                        <i class="bi bi-file-text-fill"></i>
                        Create Post
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <!--CardBody ends here -->
</div>
<!--Profile Card ends here -->