<!-- ProfileView Card -->
<div class="card">
    <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
            <img src="{{user.profile.profile_image.url}}" alt="Profile Image" class="rounded-circle img-fluid mx-auto d-block" width="150" />
            <div class="mt-3">
                <h4>{{user.get_full_name}}</h4>

                <p class="text-secondary mb-0">{{user.profile.job_role}}</p>
                
                <p class="text-muted font-size-sm">{{user.profile.country.unicode_flag}} Bay Area, San Francisco, CA</p>
                
                {% if True %}
                    <a class="btn btn-primary" href="{% url 'update-profile' %}">Edit Profile</a>
                {% endif %}
                
                {% comment %} <button class="btn btn-outline-primary">Messages</button> {% endcomment %}
            </div>
        </div>
    </div>
    <!--CardBody ends here -->
</div>
<!--Profile Card ends here -->