{% extends 'html/bootstrap_base.html' %}
{% load humanize %}
{% block container %} 
{%for post in posts %}
<div class="card mt-3">
  <div class="card-header">
    <h5 class="card-title">{{post.title}}</h5>
  </div>
  <div class="card-body">
    <p class="blog-post-meta text-muted">
      {{post.posted_datetime.date}} by <a href="#">{{post.author}}</a>
    </p>

    <p class="card-text">{{post.content}}</p>

    <p class="card-text">
      <small class="text-muted">Last updated {{post.updated_datetime | naturaltime}}</small>
    </p>

    
    {% if post.tags is defined %}
      <p>{{post.tags}}</p>
      <div class="d-flex flex-stack item-border-hover py-2 mb-6">
        {% for tag in post.tags.all %}
          <span class="badge rounded-pill bg-secondary ms-2">{{tag}}</span>
        {% endfor %}
      </div>
    {% endif %}

    <a href="#" class="btn btn-success">Copy Link</a>
  </div>
</div>
{% endfor %} {% endblock container %}
