{% extends 'html/bootstrap_base.html' %}
{% load humanize %}
{% block container %} 
<div class="card mt-3">
  <div class="card-header">
    <h5 class="card-title">{{object.title}}</h5>
  </div>
  <div class="card-body">
    <p class="blog-post-meta text-muted">
      {{post.posted_datetime.date}} by <a href="{% url 'view-profile' object.author.id%}">{{object.author}}</a>
    </p>

    <p class="card-text">{{object.content}}</p>

    <p class="card-text">
      <small class="text-muted">Last updated {{object.updated_datetime | naturaltime}}</small>
    </p>
    
    <div class="d-flex flex-stack item-border-hover py-2 mb-6">
      {% for tag in object.tags.all %}
        <span class="badge rounded-pill bg-secondary ms-2">{{tag}}</span>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock container %}