<div id="left-sidebar" class="d-flex flex-column flex-shrink-0 p-4 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4 ps-4">Account Setting</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li><a href="{% url 'update-profile' %}" class="nav-link text-white {% if basic_active  %}active{% endif %}" aria-current="page">
            <i class="bi bi-person-lines-fill"></i>
            Basic Information
        </a></li>
        <li><a href="{% url 'update-profile-image' %}" class="nav-link text-white  {% if picture_active  %}active{% endif %}">
            <i class="bi bi-person-badge"></i>
            Change Profile Image
        </a></li>
        <li><a href="{% url 'update-profile-password' %}" class="nav-link text-white  {% if password_active  %}active{% endif %}">
            <i class="bi bi-key"></i>
            Change Password
        </a></li>
        <li><a href="{% url 'update-email' %}" class="nav-link text-white   {% if email_active  %}active{% endif %}">
            <i class="bi bi-envelope-fill"></i>
            Change Email
        </a></li>        
    </ul>
</div>