<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
  <a class="fs-4 ps-4 text-bg-dark text-dark text-decoration-none" href="{% url 'admin-area' %}">
    <i class="bi bi-shield-lock-fill"></i>
    Admin Area
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a class="dropdown-item fs-5 nav-link btn btn-toggle rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        <i class="bi bi-stack text-primary">&nbsp;</i>
        Posts
      </a>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled small ps-3">
          <li>
            <a href="{% url 'articles' %}" class="dropdown-item rounded">
              <i class="bi bi-stack text-primary"> </i>
              All Posts
            </a>
          </li>
          <li>
            <a href="{% url 'drafted-articles' %}" class="dropdown-item rounded">
              <i class="bi bi-clock-history text-primary"> </i>
              Pending Post 
            </a>
          </li>
          <li>
            <a href="{% url 'featured-articles' %}" class="dropdown-item rounded">
              <i class="bi bi-trophy-fill text-warning"></i>
              Featured
            </a>
          </li>
          <li>
            <a href="{% url 'published-articles' %}" class="dropdown-item rounded">
              <i class="bi bi-clipboard-check text-success"></i>
              Published
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li>
    <a href="{% url 'members-list' %}" class="dropdown-item fs-5 nav-link text-dark  {% if picture_active  %}active{% endif %}">
        <i class="bi bi-people-fill text-primary"> </i>
        Members List
    </a>
    </li>
    
    {% comment %} <li>
    <a href="#" class="dropdown-item fs-5 text-dark nav-link {% if email_active  %}active{% endif %}">
        <i class="bi bi-envelope-fill text-primary"></i>
        Change Email
    </a>
    </li> {% endcomment %}
  </ul>
</div>

<style>

.btn-toggle {
  display: inline-flex;
}

.btn-toggle::after {
  width: 1.25em;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(90deg);
}

{% comment %} .btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
} {% endcomment %}
</style>