<!DOCTYPE html>
<html lang="en">
  {% include "core/widget/html_base_head.html" %}
  <body class="d-flex flex-column min-vh-100">
    <!-- Header -->
    {% include "core/widget/header.html" %}

    <!-- Blog main -->
    <main>
      <div class="container">
        <!-- Django Flash Message -->
        {% include "core/widget/flash_message.html" %}

        {% block container %} 
        {% endblock container %}
      </div>
    </main>
    {% include "core/widget/footer.html" %}    
  </body>
</html>
