<!DOCTYPE html>
<html lang="en">
  {% include "core/widget/html_base_head.html" %}
  <body class="d-flex flex-column flex-grow-1 min-vh-100">
    <!-- Header -->
    {% include "core/widget/header.html" %}

    <!-- Blog main -->
    <main class="d-flex flex-grow-1">
      <div class="container d-flex flex-column">
      
        <!-- Django Flash Message -->
        {% include "core/widget/flash_message.html" %}

        {% block container %} 

        {% endblock container %}
      </div>
    </main>
    {% include "core/widget/footer.html" %}    
  </body>
</html>
