<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container container-fluid">
            <a class="navbar-brand mr-4" href="{% url 'blog-home' %}"> Django Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active"> <a class="nav-item nav-link" href="{% url 'blog-home' %}">
                    <i class="bi bi-house"></i>
                    Home
                </a> </li>
            </ul>
            
            <!-- Navbar Right Side -->
            <ul class="navbar-nav d-flex">

                
                {% if user.is_authenticated %}

                    {% comment %}Only Admin can see this{% endcomment %}
                    {% if user.is_staff  %}
                        <li class="nav-item active"> <a class="nav-item nav-link" href="{% url 'manager-dashboard' %}">
                            <i class="bi bi-person-lines-fill"></i>
                            Admin
                        </a> </li>

                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{user.get_full_name}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'my-profile'%}">
                                <i class="bi bi-person-fill"></i>
                                My Profile
                            </a></li>
                            <li><a class="dropdown-item" href="{% url 'update-profile'%}">
                                <i class="bi bi-sliders"></i>
                                Setting
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="bi bi-box-arrow-left"></i>
                                Logout
                            </a></li>
                        </ul>
                    </li>
                    
                {% else %}
                    <li class="nav-item"><a class="nav-item nav-link" href="{% url 'login' %}">       Login</a></li>
                    <li class="nav-item"><a class="nav-item nav-link" href="{% url 'user-register' %}">Register</a></li>
                {% endif %}
            </ul>
            </div> 
            <!--  div#NavbarToggle ends here -->
        </div> 
        <!--  div.container ends here -->
    </nav>
    <!--  navbar ends here -->
</header>