{% extends 'html/bootstrap_base.html' %}
{% block container %}
    <div class="alert alert-success alert-dismissible fade show mt-3 " role="alert">
        <h4 class="alert-heading">Message</h4>
        <p><strong>Perfect !</strong> You got this body of the about HTML template page.</p>
        <hr>
        <p class="mb-0">Seems like, it working completely fine.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endblock container %}


