{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block container %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-3">
            <h3 class="text-center mb-4"> Wellcome back</h3>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{form | crispy}}
                </fieldset>
                <button class="btn btn-success w-100 mt-4 btn-block" type="submit">Login</button>
            </form>
            <div class="border-top pt-3 text-center">
                <small class="text-muted">
                    Don't have an account? <a href="{% url 'user-register'%}" class="ml-2">Register</a>
                </small>
            </div>
        </div>
    </div>
{% endblock container %}