<form action="{% url 'member-access' pk=user.pk %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="is_active" value="{{user.is_active|yesno:"False,True"}}">

    <button class="dropdown-item" type="submit">
        {% if user.is_active %}
            {% if not user.is_superuser %}
                <i class="bi bi-person-x-fill"></i>
                Suspend Member
            {% endif %}
        {% else %}
            <i class="bi bi-person-check-fill"></i>
            Activate Member
        {% endif %}
    </button>
</form>