{% for post in blog_posts %}
    <div class="post-preview">
        <a href="{% url 'view-blog-post' post.slug%}" class='text-decoration-none text-dark'>
            <h2 class="post-title fst-italic">{{post.title}}</h2>
            <p class="lead">{{post.content |truncatechars:70}}</p>
        </a>
        <em class="post-meta text-muted">
            Posted by
            <a href="{% url 'view-profile' post.author.username%}">{{post.author}}</a>
            on {{post.posted_datetime.date}}
        </em>
    </div>
    <hr class="my-4">
{% endfor %}